table {
    margin: 15px auto;
    background: rgb(211, 248, 255);
    color: black;
    border-radius: 10px;
}

table th, table td {
    padding: 10px;
    border: 1px solid black;
    margin-top: 5px;
}

h1 {
    font-size: x-large;
    font-weight: bold;
    color: rgb(44, 0, 202);
    margin-top: 20px;
}

h2 {
    font-size: larger;
    font-weight: bold;
    color: rgb(3, 87, 156);
    margin-top: 10px;
}

.header-row {
    background-color: rgb(135, 235, 255);
    font-weight: bold;
}

.container-topo {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
    max-width: 100%;
    padding: 20px;
}

.container-topo p {
    margin-top: 25px;
}

.link-sair, .botao-excluir, .botao-editar, .link-cadastrar {
    transition: 0.5s;
    background-color: red;
    padding: 8px;
    margin: 5px;
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;
    color: white;
    border-radius: 10px;
    border: 1px solid black;
    cursor: pointer;
}

.link-sair:hover, .botao-excluir:hover {
    transition: 0.5s;
    background-color: #bb0000;
}

.link-cadastrar {
    background-color: green;
}

.link-cadastrar:hover {
    transition: 0.5s;
    background-color: darkgreen;
}

.botao-editar {
    background-color: orange;
}

.botao-editar:hover {
    transition: 0.5s;
    background-color: #e09200;
}

.ornamento {
    width: 100px;
}