table {
    width: 70%;
    margin: 15px auto;
    background: #d9d9d9;
    color: black;
    border-radius: 20px;
}

table th, table td {
    padding: 10px;
    border: 1px solid black;    
    margin-top: 5px;
}

table th:first-child, table td:first-child {
  border-left: none;
}

table th:last-child, table td:last-child {
  border-right: none;
}

table tr:first-child th, table tr:first-child td {
  border-top: none;
}

table tr:last-child th, table tr:last-child td {
  border-bottom: none;
}

h1 {
    font-size: 40px;
    color: #e0faff;
    margin-top: 20px;
}

h2 {
    font-size: larger;
    font-weight: bold;
    color: #03579c;
    margin-top: 10px;
}

.header-row {
    font-weight: bold;
}

.container-topo {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
    max-width: 100%;
    padding: 20px;
}

.container-topo p {
    margin-top: 25px;
}

.link-sair, .botao-excluir, .botao-editar, .link-cadastrar, .botao-relatorio {
    transition: 0.5s;
    width: 95px;
    background-color: red;
    padding: 8px;
    margin: 5px;
    text-decoration: none;
    font-weight: 600;
    font-size: 15px;
    color: white;
    border-radius: 20px;
    border: 1px solid black;
    cursor: pointer;
}

.link-sair:hover, .botao-excluir:hover {
    transition: 0.5s;
    background-color: #bb0000;    
}

.link-cadastrar, .botao-relatorio {
    background-color: #1e90ff;
    margin-top: 15px;
}

.link-cadastrar:hover, .botao-relatorio:hover {
    transition: 0.5s;
    background-color: #1773ce;
}

.botao-editar {
    background-color: #ffa53f;
}

.botao-editar:hover {
    transition: 0.5s;
    background-color: rgb(235, 152, 0);
}

.ornamento {
    width: 100px;
}