.menu {
    background-color: #d9d9d9;    
    width: 400px;
    margin: auto;
    border: 2px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.menu a {
    color: #000000;
    text-decoration: none;
}

.paginacao {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5px;
    margin-bottom: 24px;
}

.paginacao a {
    transition: 0.5s;
    color: #d9d9d9;
    text-decoration: none;
}

.paginacao a:hover {
    transition: 0.5s;
    color: #b0b0b0;
}

.form-paginacao {
    width: 82%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 5px;   
}

.form-paginacao select {
    border-color: black;
    border-radius: 5px;
    font-size: medium;
}

.item-menu {
    transition: 0.1s;
    width: 100px;
    padding: 10px;
}

.item-menu:hover {
    transition: 0.1s;
    border: 2px dashed black;
}