input, select, button {
    width: 90%;
    padding: 10px;
    margin: 8px;
    border: none;
    border-radius: 10px;
}

h2 {
    font-size: large;
}

.container-form {
    margin: 100px auto;
    width: 400px;
    background: #ffffff1a;
    padding: 20px;
    border-radius: 15px;
}

.botao-cadastrar, .botao-editar {
    transition: 0.5s;
    background: #007bff;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.botao-editar {
    background-color: #ff7300;
    margin-bottom: 25px;
}

.botao-editar:hover {
    transition: 0.5s;
    background-color: #ce5d00;
}

.botao-cadastrar:hover {
    transition: 0.5s;
    background: #0056b3;
}

.botao-voltar {
    transition: 0.5s;
    background-color: #d9d9d9;
    color: #000000;
    text-decoration: none;
    padding: 10px;
    border-radius: 10px;
}

.botao-voltar:hover {
    transition: 0.5s;
    background-color: #bbbbbb;
}