body {
    background: linear-gradient(90deg, #0052a3, #00aaff);
    font-family: "Merryweather", sans-serif;
    color: white;
    text-align: center;
}

.logo-banner {
    background-color: #f8f8f8ff;
    width: 400px;
}

.id-box {
    display: none;
}