body {
    background: linear-gradient(90deg, #0052a3, #00aaff);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, Courier, monospace;
    color: white;
    text-align: center;
}

.logo-banner {
    background-color: #f8f8f8ff;
    width: 400px;
}

.id-box {
    display: none;
}