body {
    background: linear-gradient(90deg, #0052a3, #00aaff);
    font-family: Arial, sans-serif;
    color: white;
    text-align: center;
}

.botao-voltar {
    background-color: darkorange;
    color: white;
    padding: 10px;
}